<h2>Deals by day</h2>

<% @days.each() do |day| %>
<section>
<h3><%= day.day() %></h3>
<p>Deals: 
  <ul>
    <% day.deals().each() do |deal| %>
    <li><a href="../deals/<%=deal.id()%>"><%= deal.title() %></a> at <a href="../restaurants/<%=deal.restaurant().id()%>"><%= deal.restaurant().name() %></a></li>
    <% end %>
  </ul>
</p>
</section>
<% end %>
