<h2>Daily Deals</h2>

<p>Today is <%= @weekday.day() %></p>
<% unless @weekday.deals() == [] %>
<p>Here are your deals for today:</p>
<ul>
  <% @weekday.deals().each() do |deal| %>
  <li><a href="deals/<%=deal.id%>"><%= deal.title() %></a> at <a href="restaurants/<%=deal.restaurant().id()%>"><%= deal.restaurant().name() %></a></li>
  <% end %>
</ul>
<% else %> 
<p>No deals today!</p>
<% end %>
<hr>
