<h2>Enter a new Deal</h2>

<form method="post" action="/deals/">

  <p>
  <label for="deal-title">Deal Name: </label>
    <input id="deal-title" type="text" name="title" value="<%= @deal.title() %>">
  </p>

  <p>
    <label for="day-select">Deal Day: </label>
    <select id="day-select" name="day_id">
      <% @days.each() do |day| %>
      <option value=<%= day.id() %> <%= "selected" if @deal.days() == day %>><%= day.day() %></option>
      <% end %>
    </select>

    <p>
      <label for="burger-select">Burgers: </label>
      <select id="burger-select" name="burger_id">
        <% @burgers.each() do |burger| %>
        <option value=<%= burger.id %>><%= burger.name() %></option>
        <% end %>
      </select>
    </p>

    <p>
      <input id="deal-submit" type="submit" name="Update Deal">
    </p>
  </form>