<h2><%= @deal.title() %></h2>
<section>
<p>Restaurant: <a href="../restaurants/<%=@deal.restaurant().id()%>"><%= @deal.restaurant().name() %></a></p>
<% @deal.days().each() do |day| %>
<p>Day of deal: <%= day.day() %></p>
<p>Applicable to:
  <ul>
    <% @deal.burgers().each() do |burger| %>
    <li><a href="../burgers/<%=burger.id()%>"><%= burger.name() %></a></li>
    <% end %>
  </ul>
  <% end %>
</p>
</section>