<h3><%= @deal.title() %></h3>
<p>Restaurant: <a href="../restaurants/<%=@deal.restaurant().id()%>"><%= @deal.restaurant().name() %></a></p>
<% @deal.days().each() do |day| %>
<p>Day of deal: <%= day.day() %></p>
<p>Applicable to:
  <ul>
    <% @deal.burgers().each() do |burger| %>
    <li><%= burger.name() %></li>
    <% end %>
  </ul>
<% end %>

<hr>