  <h2><%= @burger.name() %></h2>
  <section>
  <p><u>Restaurant</u> <a href="../restaurants/<%= @burger.restaurant().id() %>"><%= @burger.restaurant().name()%></a></p>
  <p><u>Deals</u> </p>
  <ul>
    <% @burger.deals().each do |deal| %>
    <li><a href="../deals/<%= deal.id() %>"><%= deal.title() %></a><% deal.days().each do |day| %> - Available on <%= day.day() %><% end %></li>
    <% end %>
  </ul>

  <p><a href="/burgers/<%= @burger.id() %>/confirm">Delete this burger</a>
  </section>
  
