<h2><%= @restaurant.name %></h2>
<section>
<h4>Burgers</h4>
<ul>
  <% @restaurant.burgers().each() do |burger| %>
  <div id="rest-detail">
    <li><a href="../burgers/<%=burger.id%>"><%= burger.name() %></a></li>
  </div>
  <% end %>
</ul>

<h4>Deals</h4>
<ul>
  <% @restaurant.deals().each() do |deal| %>
  <div id="rest-detail">
  <li><a href="../deals/<%= deal.id %>"><%= deal.title() %></a></li>
  </div>
  <p></p>

  <% end %>
</ul>
</section>